<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashboard | Khudra</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/jpg" href="images/Khudra.png">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/main1.css">
	<script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<script src="/socket.io/socket.io.js"></script>
	
	<script src="js/dashboard.js"></script>
</head>
<body id="page-top">

        <nav class="navbar navbar-expand navbar-dark static-top" style="background-color:#212529;;">
                <a class="navbar-brand mr-1" href="">KHUDRA</a>
              </nav>
          
              <div id="wrapper">
          
                <!-- Sidebar -->
                <ul class="sidebar navbar-nav">
                  
                  <li class="nav-item active" style="margin-top:20px;">
                    <a class="nav-link" onclick="show(1)">
                      <i class="fa fa-fw fa-shopping-cart"></i>
                      <span>Goods</span>
                    </a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" onclick="show(2)">
                      <i class="fa fa-fw fa-user"></i>
                      <span>Retailers</span></a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" onclick="show(3)">
                      <i class="fa fa-fw fa-shopping-bag"></i>
                      <span>Delivery Boys</span></a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" onclick="show(4)">
                      <i class="fa fa-fw fa-signal"></i>
                      <span>Sales</span></a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" onclick="show(5)">
                      <i class="fa fa-fw fa-gear"></i>
                      <span>Settings</span></a>
                  </li>
                  
                  
                  <li class="nav-item">
                    <a class="nav-link" onclick="show(6)">
                      <i class="fa fa-fw fa-arrow-left"></i>
                      <span>Log Out</span></a>
                  </li>
                  
                </ul>
          
                <div id="content-wrapper">
                  <div class="container-fluid">
                  
                     <section id="goods">
					  <div class="row">
					    <div class="col-sm-9 col-md-9 cold-xs-9">
						  <h1 id="head">Khudra Goods List</h1>
						</div>
						<div class="col-sm-3 col-md-3 cold-xs-3">
						  <button type="button" class="btn btn-primary text-right" style="margin-top:20px;">Add New Good</button>
						</div>
					  </div>
					   
                             <div class="tables">
                               <table class="table table-striped">
								 <thead>
                                   <tr>
								    <th>Category</th>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th>Unit</th>
									<th>Edit</th>
									<th>Delete</th>
                                   </tr>
                                 </thead>
                               
							   <tbody class="data">
								 <tr>
								   <td colspan="100%">
								      <h5 class="text-center">Currently no any goods data found</h5>
									</td>
								 </tr>
                               </tbody>
							   
							   <tbody class="bodyt">
            
                               </tbody>
                          </table>
                          </div>
					 </section>  
					 
					 <section id="retails">
					  <div class="row">
					    <div class="col-sm-9 col-md-9 cold-xs-9">
						  <h1 id="head">Khudra Retailers List</h1>
						</div>
					  </div>
                         
                             <div class="tables">
                               <table class="table table-striped">
								 <thead>
                                   <tr>
								      <th>Retail Name</th>
                                      <th>Address</th>
									  <th>Retailer Name</th>
									  <th>Number</th>
									  <th>Email</th>
									  <th>Username</th>
                                      <th>Photo</th>
									  <th>Citizenship</th>
			                          <th>Retail Map</th>
									  <th>Edit</th>
									  <th>Delete</th>
                                   </tr>
                                 </thead>
                               
							   <tbody class="data1">
								 <tr>
								   <td colspan="100%">
								      <h5 class="text-center">Currently no any goods data found</h5>
									</td>
								 </tr>
                               </tbody>
							   
							   <tbody class="bodyt1">
							   </tbody>
							   
                          </table>
                          </div>
					 </section>
					 
					 <section id="deliveries">
					  <div class="row">
					    <div class="col-sm-9 col-md-9 cold-xs-9">
						  <h1 id="head">Khudra Delivery Channels List</h1>
						</div>
						<div class="col-sm-3 col-md-3 cold-xs-3">
						  <button type="button" class="btn btn-primary text-right" style="margin-top:20px;">Add New Delivery Channel</button>
						</div>
					  </div>
	
                             <div class="tables">
                               <table class="table table-striped">
								 <thead>
                                   <tr>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>Contact Number</th>
									<th>Edit</th>
									<th>Delete</th>
                                   </tr>
                                 </thead>
                               
							   <tbody class="data2">
								 <tr>
								   <td colspan="100%">
								      <h5 class="text-center">Currently no any delivery boys data found</h5>
									</td>
								 </tr>
                               </tbody>
							   
							   <tbody class="bodyt2">
            
                               </tbody>
                          </table>
                          </div>
					 </section>  
                  
                  </div>
                </div>
                
			  </div>
			  
              
<footer></footer>
</div>
</div>
          
</body>
</html>