<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login | GST</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="images/icon/prologo.png">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<script src="vendor/jquery-3.2.1.min.js"></script>
	<script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
	<link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
	<script src="js/login.js"></script>
</head>
<body>
</body>
</html>