


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>3D bar chart - Bar chart sample                                                                                                                                                                                                                                               </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://threegraphs.com/static/css/reset.css">
<link rel="stylesheet" href="http://threegraphs.com/static/css/scenes.css">
  
  <body>
   
  </body>
  
  
  <script type="text/javascript" src="http://threegraphs.com/static/js/settings.js"></script>
  
  
  <script type="text/javascript">
     schema = {"cols":[{"name":"2010","color":"d17100"},{"name":"2011","color":"d9bd00"},{"name":"2012","color":"61c900"}],"rows":[{"name":"Product 1"},{"name":"Product 2"},{"name":"Product 3"},{"name":"Product 4"},{"name":"Product 5"}]}; dataValues = [[917,935,925,333,871],[681,778,593,97,109],[400,521,291,960,72]]; 
  </script>
  
  <script type="text/javascript" src="http://threegraphs.com/static/js/libs/jquery-1.7.1.js"></script>
  
    <script type="text/javascript" src="http://threegraphs.com/static/js/libs/three.min.js"></script>
  
  <script type="text/javascript" src="http://threegraphs.com/static/js/classes/TrackballControls.js"></script>
  <script type="text/javascript" src="http://threegraphs.com/static/js/classes/TrackballControlsTouch.js"></script>
  <script type="text/javascript" src="http://threegraphs.com/static/js/utils.js"></script>
  
    <script type="text/javascript" src="http://threegraphs.com/static/js/classes/NiceScale.js"></script>
  
    <script type="text/javascript" src="http://threegraphs.com/static/js/classes/BarCubes.js"></script>
  
    <script type="text/javascript" src="http://threegraphs.com/static/js/classes/ScaleTexts.js"></script>
  
  <script type="text/javascript" src="http://threegraphs.com/static/fonts/helvetiker_bold.typeface.js"></script>
  <script type="text/javascript" src="http://threegraphs.com/static/js/scenes/scene_bar.js"></script>
  
  <script type="text/javascript" src="http://threegraphs.com/static/js/init_embed.js"></script>
  

</body>
</html>
