.wrapper{
    align-items: stretch;
}
#head{
  margin-top:10px;
}

.data,.data1,.data2{
  display:none;
}

.tables{
  margin-top:30px;
}

i,a{
  cursor:pointer;
}

#links:hover{
  font-size:30px;
  font-weight:600;
  color:#f44274;
}